<div class="padding-10">
    <div ng-show="showCashbackFormError" class="alert alert-danger">
        <h4>Invalid discounts submitted</h4>
        <ul>
            <li>The different between start date and end date is less than 7 days</li>
            <li>Make sure discounts are at least 5% and less than 91%</li>
            <li>You have selected the correct dates</li>
            <li>Hint: Look for highlighted inputs</li>
        </ul>
    </div>
    
    <div>
        <form>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-addon">Start Date</div>
                        <input id="startDate" ng-class="{highlight: dates.$error}" placeholder="dd/mm/yyyy" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-addon">End Date</div>
                        <input id="endDate" ng-class="{highlight: dates.$error}" placeholder="dd/mm/yyyy" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div ng-include="'web/templates/cashbacks/pick-hours-cashback-form.html'"></div>
            <div id="collapseSlowHoursForm" class="collapse" ng-include="'web/templates/cashbacks/slow-hours-cashback-form.html'"></div>

            <div class="text-center">
                <button type="button" id="showSlowHoursBtn" data-toggle="collapse" 
                        data-target="#collapseSlowHoursForm" 
                        aria-expanded="false" class="btn btn-danger" 
                        ng-click='showSlowHoursForm()'>
                            <i class="glyphicon glyphicon-plus"></i> Add Slow Hours
                </button>
                <button type="button" class="btn btn-success" ng-click='setCashbacks()'>
                    <i class="glyphicon glyphicon-ok"></i> Submit
                </button>
                <button class="btn btn-warning" ng-click="goToCalendarView()">
                    <i class="glyphicon glyphicon-remove"></i> Cancel
                </button>
            </div>
        </form>
    </div>
</div>