<h4>Pick Hours Discounts</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center"></th>
                <th class="text-center">Discount Upto</th>
                <th class="text-center">Mon</th>
                <th class="text-center">Tue</th>
                <th class="text-center">Wed</th>
                <th class="text-center">Thu</th>
                <th class="text-center">Fri</th>
                <th class="text-center">Sat</th>
                <th class="text-center">Sun</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <span class="label label-default">LOW</span>
                </td>
                <td class="text-center">
                    {{limits.low}}
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.mon.low) || pickHours.mon.low < 5 || pickHours.mon.low >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.mon.low' ng-value="pickHours.mon.low < 5 ? 5 : pickHours.mon.low ">
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.tue.low) || pickHours.tue.low < 5 || pickHours.tue.low >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.tue.low'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.wed.low) || pickHours.wed.low < 5 || pickHours.wed.low >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.wed.low'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.thu.low) || pickHours.thu.low < 5 || pickHours.thu.low >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.thu.low'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.fri.low) || pickHours.fri.low < 5 || pickHours.fri.low >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.fri.low'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.sat.low) || pickHours.sat.low < 5 || pickHours.sat.low >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.sat.low'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.sun.low) || pickHours.sun.low < 5 || pickHours.sun.low >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.sun.low'>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span class="label label-primary">MED</span>
                </td>
                <td class="text-center">
                    {{limits.med}}
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.mon.med) || pickHours.mon.med < 5 || pickHours.mon.med >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.mon.med'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.tue.med) || pickHours.tue.med < 5 || pickHours.tue.med >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.tue.med'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.wed.med) || pickHours.wed.med < 5 || pickHours.wed.med >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.wed.med'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.thu.med) || pickHours.thu.med < 5 || pickHours.thu.med >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.thu.med'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.fri.med) || pickHours.fri.med < 5 || pickHours.fri.med >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.fri.med'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.sat.med) || pickHours.sat.med < 5 || pickHours.sat.med >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.sat.med'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.sun.med) || pickHours.sun.med < 5 || pickHours.sun.med >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.sun.med'>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span class="label label-info">HIGH</span>
                </td>
                <td class="text-center">
                    {{limits.high}}+
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.mon.high) || pickHours.mon.high < 5 || pickHours.mon.high >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.mon.high'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.tue.high) || pickHours.tue.high < 5 || pickHours.tue.high >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.tue.high'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.wed.high) || pickHours.wed.high < 5 || pickHours.wed.high >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.wed.high'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.thu.high) || pickHours.thu.high < 5 || pickHours.thu.high >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.thu.high'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.fri.high) || pickHours.fri.high < 5 || pickHours.fri.high >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.fri.high'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.sat.high) || pickHours.sat.high < 5 || pickHours.sat.high >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.sat.high'>
                </td>
                <td class="text-center">
                    <input ng-class="{highlight: !isNumber(pickHours.sun.high) || pickHours.sun.high < 5 || pickHours.sun.high >90 }" type="text" maxlength="2" size="2" ng-model='pickHours.sun.high'>
                </td>
            </tr>
        </tbody>
    </table>
