<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="form-group input-group input-group-lg">
            <span class="input-group-addon">Promotion starts from</span>
            <input class="form-control"  type="text" disabled="disabled" ng-model="selectedStartDateText"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="form-group input-group input-group-lg">
            <span class="input-group-addon">Promotion ends on&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input class="form-control"  type="text" disabled="disabled" ng-model="selectedEndDateText"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-8">
        <div class="form-group input-group input-group-lg">
            <span class="input-group-addon">Publish promotion on</span>
            <input id="publishPromtionDate" ng-class="{highlight: publishingError.publishDate}" placeholder="dd/mm/yyyy" type="text" class="form-control">
        </div>
    </div>
</div>