<div class="container">
    <h3 class="text-center">Transaction Details</h3>
    <div>
        <form class="custom-form">
            <div class="col-2">
                <label>
                    <span>Original Bill</span>
                    <input type="text" ng-model='originalBill' placeholder="How much was the original bill?" tabindex="1"/>
                </label>
            </div>
            <div class="col-2">
                <label>
                    Customer's Phone Number
                    <input type="text" ng-model='phone' placeholder="What's customers phone number?" tabindex="2"/>
                </label>
            </div>    

            <!-- customer details -->
            <div class='summary' ng-show="transaction.validated">
                <div class="col-4" >
                    <label>
                        <span data-toggle='tooltip' title='Current Balance - Credit Offered - Service Charge'>Customer's Name</span>
                        <input ng-model='transaction.customer_name' tabindex="4" disabled/>
                    </label>
                </div>
                <div class="col-4" >
                    <label>
                        Credit Offered (%)
                        <input ng-model='transaction.credit_offered_percentage' tabindex="4" disabled/>
                    </label>
                </div>
                <div class="col-4" >
                    <label>
                        Credit Offered (Rs)
                        <input ng-model='transaction.credit_offered' tabindex="4" disabled/>
                    </label>
                </div>     
                <div class="col-4" >
                    <label>
                        Customer Paid (Rs)
                        <input ng-model='transaction.customer_paid' tabindex="4" disabled/>
                    </label>
                </div>     

                <!-- AAO details -->
                <div class="col-4" >
                    <label>
                        Service Charge (Rs)
                        <input ng-model='transaction.service_charge' tabindex="4" disabled/>
                    </label>
                </div>  
                <div class="col-4" >
                    <label>
                        Service Charge (%)
                        <input ng-model='transaction.service_charge_percentage' tabindex="4" disabled/>
                    </label>
                </div>  
                <div class="col-4">
                    <label>
                        Current AAO Balance (Rs)
                        <input ng-model='transaction.current_balance' tabindex="4" disabled/>
                    </label>
                </div>     
                <div class='col-4'>
                    <label>
                        <span data-toggle='tooltip' title='Credit Offered + Service Charge'>How much you owe to AAO?</span>
                        <input ng-model='transaction.client_owes' tabindex="4" disabled/>
                    </label>
                </div>        

            </div>

            <div class='col-submit'>
                <button ng-disabled="transaction.processing" class='btn-confirm' ng-show="!transaction.validated" type="submit" ng-click="validateTransaction()">Add</button>
                <button ng-disabled="transaction.processing" ng-show="transaction.validated" type="submit" ng-click="cancelTransaction()">Cancel</button>
                <button ng-disabled="transaction.processing" class='btn-confirm' ng-show="transaction.validated" type="submit" ng-click="confirmTransaction()">Confirm</button>
            </div>

        </form>
    </div>
</div>