<div class="alert alert-danger" ng-show="filters.dateErrors || filters.billErrors || filters.creditErrors">
    Please fix highlighted errors.
</div>
<form class="custom-form">
    <div class="col-1">
        <label>
            <span>Employee's Name</span>
            <select ng-class="{highlight: filters.creditErrors}" ng-model='filters.employeeId' tabindex="5">
                <option value="">Not Selected</option>
                <option  ng-repeat="employee in employees" value="{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</option>
            </select>
        </label>
    </div>
    <div class="col-2">
        <label>
            <span>Start Date</span>
            <input ng-class="{highlight: filters.dateErrors}" id="startDate" ng-model='filters.startDate' placeholder="dd/mm/yyyy" type="text" class="form-control"/>
        </label>
    </div>
    <div class="col-2">
        <label>
            <span>End Date</span>
            <input ng-class="{highlight: filters.dateErrors}" id="endDate" ng-model='filters.endDate' placeholder="dd/mm/yyyy" type="text" class="form-control"/>
        </label>
    </div>
    <div class="col-2">
        <label>
            <span>Min. Bill Amount</span>
            <input ng-class="{highlight: !isNumber(filters.minOriginalBillAmount) || filters.billErrors}" ng-model='filters.minOriginalBillAmount' placeholder="e.g. 100 Rs" tabindex="1"/>
        </label>
    </div>
    <div class="col-2">
        <label>
            <span>Max. Bill Amount</span>
            <input ng-class="{highlight: !isNumber(filters.maxOriginalBillAmount) || filters.billErrors}" ng-model='filters.maxOriginalBillAmount' placeholder="e.g. 1000 Rs" tabindex="1"/>
        </label>
    </div>
    <div class="col-2">
        <label>
            <span>Min. Credit Given</span>
            <select ng-class="{highlight: filters.creditErrors}" ng-model='filters.minCreditGivenInPercentage' ng-value='filters.minCreditGivenInPercentage' tabindex="5">
                <option value="">Not Selected</option>
                <option  ng-repeat="(key, value) in percentageValues" value="{{value}}">{{value}}%</option>
            </select>
        </label>
    </div>
    <div class="col-2">
        <label>
            <span>Max. Credit Given</span>
            <select ng-class="{highlight: filters.creditErrors}" ng-model='filters.maxCreditGivenInPercentage' ng-value='filters.maxCreditGivenInPercentage' tabindex="5">
                <option value="">Not Selected</option>
                <option  ng-repeat="(key, value) in percentageValues" value="{{value}}">{{value}}%</option>
            </select>
        </label>
    </div>
</form>