<div class="container">
    <div class="form-group text-right">
        <button ng-click='updateDetails()' type="button" class="btn btn-info">Update Details</button>
    </div>
    <h3 class="text-center">Restaurant Details</h3>
    <div>
        <form class="custom-form" ng-submit="updateDetails()">
            
            <!-- name, email and phone# -->
            <div class="col-3">
                <label>
                    <span>Name</span>
                    <input type='text' ng-model="formData.name" placeholder="What's the name of your restaurant?" tabindex="1"/>
                </label>
            </div>
            <div class="col-3">
                <label>
                    Email
                    <input type='text' ng-model="formData.email" placeholder="Contact email address of your restaurant?" tabindex="2"/>
                </label>
            </div>
            <div class="col-3">
                <label>
                    Phone Number
                    <input type='text' ng-model="formData.phone" placeholder="What's restaurant's phone number?" tabindex="2"/>
                </label>
            </div>
            
            <!-- address -->
            <div class="col-1">
                <label>
                    Full Address
                    <input type='text' ng-model="formData.full_address" placeholder="What's restaurant's full address?" tabindex="2"/>
                </label>
            </div>
            
            
            <!-- zipcode and area -->
            <div class="col-3">
                <label>
                    Area
                    <input type='text' ng-model="formData.area" placeholder="e.g. Navrangpura, S.G. Road" tabindex="2"/>
                </label>
            </div>
            <div class="col-3">
                <label>
                    Zipcode
                    <input type='text' ng-model="formData.zipcode" placeholder="e.g 38003" tabindex="2"/>
                </label>
            </div>
            <div class="col-3">
                <label>
                    Website
                    <input type='text' ng-model="formData.website" placeholder="e.g www.my-restaurant.com" tabindex="2"/>
                </label>
            </div>
            
            <div class='col-1'>
                <label>Cuisines & Categories<br/>
                    
                    <span class="checkbox-span" ng-repeat="category in formData.categories" style="font-weight: 500;">
                        <input  type="checkbox" 
                                ng-model="category.isSelected" 
                                checklist-value="role"> {{category.name}}
                    </span>
                </label>
            </div>
            
            <div class="col-1">
                <label>
                    Description
                    <textarea ng-model="formData.description" placeholder="(e.g. Awesome fastfood restauraunt)" style="height: 250px; width: 100%;"></textarea>
                </label>
            </div>
        </form>
    </div>
</div>